body{
    background: rgb(21,43,78);
    background: linear-gradient(29deg, rgba(21,43,78,1) 0%, rgba(149,108,62,1) 52%, rgba(11,60,78,1) 100%); 
}
.content{
    font-family:cursive;
    margin-top:3.5rem;
    
}
.content img{
    width:10rem;
    border-radius: 50%;;
}
button{
    background-color: rgba(22, 21, 21, 0.856);
    color:rgba(255, 255, 255, 0.959);
    border-radius:7%;
    width:10rem;
    height:3rem;
    font-family: cursive;
    border:none;
}