<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="icon"  href="./images/title1.png">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/thanku.css">
</head>
<body>
    <nav>
        <ul>
            <li class="navatt"><span>Personal </span></li>
            <li><img class="brand" src="./images/title1.png" alt="icon"></li>
            <li class="navatt"><span>Assistant </span></li>
            
        </ul>
    </nav>
    <div class="content">
        <img src="./images/done.jpg"/>
        <h2><%=heading%> </h2>
        <h3><%=subheading%> </h3>
           <br>
           <a href="login"><button class="button medium">Login</button></a>
    </div>
    <div class="footer">
       
        <img src="./images/fcb.png" alt="facebook"/> <a href="http:/facebook.com " target="_blank" >Facebook</a>
        <img src="./images/insta.png" alt="instagram"/> <a href="http:/instagram.com " target="_blank" >Instagram</a>
        <img src="./images/mail.png" alt="Mail"/> <a href="http:/gmail.com " target="_blank" > Mail</a>
        <img src="./images/twitter.jpg" alt="twiter"/> <a href="http:/twitter.com " target="_blank" > Twitter</a>
        
    </div>
<body>